.outer {
  height: 100vh;
}
.full-page-container {
  flex: 1;
  overflow: hidden;
}
.box {
  color: #fff;
}
.section {
  height: 100%!important;
  overflow: hidden;
}
/* 右侧导航 */
/* #fp-nav ul li {
  width: .14rem;
  height: .13rem;
  margin: .07rem;
}
#fp-nav.right {
  right: .17rem;
} */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
  box-shadow: 0 0 10px 2px #ccc;
}
.know-more-btn {
  height: .4rem;
  box-sizing: border-box;
  padding: 0 .2rem;
  line-height: .4rem;
  display: inline-block;
  color: #103674;
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid #fff;
  cursor: pointer;
  margin-top: .5rem;
}
.know-more-btn a {
  color: #103674;
}
.one .title,
.two .title,
.four .title,
.five .title {
  position: absolute;
  opacity: 0.2;
  transform: scale(.2);
  top: -1rem;
}
.one.active .title,
.two.active .title,
.four.active .title,
.five.active .title {
  top: .5rem;
  opacity: 1;
  transition: all 1.5s;
  transform: none;
}
/* 第一屏样式开始 */
.one,.two, .three {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background:url('../images/first_screen/bg1.jpg') center no-repeat; */
  /* background-size: contain; */
}
.one .title {
  width: 6.35rem;
  height: 1.38rem;
  background:url("../images/first_screen/title.png") center no-repeat;
  background-size: 6.35rem 1.38rem;
}
.one .bg {  
  width: 60%;
  /* height: 400px; */
  flex: 1;
  margin: 0 auto;
  background:url('../images/first_screen/bg1.png') center no-repeat;
  background-size: contain;
}
/* 第一屏动效 */
/* 第1个状态, 散开的状态 */
/* 第2个状态, 合并的状态*/

.one.active .bg {
  width: 95%;
  transition: all 1.5s;
}
/* 第一屏结束 */
/* 第二屏开始 */
.two {
  justify-content: center;
}
.two .title {
  width: 2.28rem;
}
.two .content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.two .content .left-text {
  flex: 1;
  margin-right: .2rem;
  max-width: 5rem;
  overflow: hidden;
  transform: translateX(1rem);
  transition: all 1.5s;
}
.two .content .left-text .main-title {
  margin-bottom: 20px;
  transform: translateY(-3rem);
  opacity: .2;
  transition: all 1.5s;
}
.two .content .left-text .sub-title {
  max-width: 3.5rem;
  line-height: .3rem;
  transform: translateY(3rem);
  opacity: 0;
}
.two.active .content .left-text .main-title {
  transform: none;
  opacity: 1;
}
.two.active .content .left-text .sub-title {
  transform: none;
  opacity: 1;
  transition: all 1.5s;
}
.two .content .map-img {
  width: 0rem;
  height: 6.01rem;
  /* flex: 1; */
  background: url('../images/second_sreen/map.png') center no-repeat;
  background-size: contain;
}
.two.active .content .map-img {
  width: 8.95rem;
  transition: all 1.5s;
}

/* 第二屏结束 */
/* 第三屏开始 */
.three {
  align-items: flex-start;
}
.three .title {
  width: 5.22rem;
}
.three .bg {
  height: 6.34rem;
  background:url("../images/third_screen/tral.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.three .bg .title {
  opacity: 0.2;
  transform: translateY(-2rem) scale(.2);
}
.three .foot {
  flex: 1;
  /* height: 6rem; */
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.three .foot .item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 33.3%;
  height: 55%;
  background-color: red;
}
.three .foot .item .icon {
  width: .72rem;
}
.three .foot .item-btn {
  height: .4rem;
  text-align: center;
  box-sizing: border-box;
  padding: .0rem .2rem;
  line-height: .4rem;
  border-radius: .25rem;
  border: 1px solid #fff;
  cursor: pointer;
}
.three .foot .item-btn:hover {
  background-color: #fff;
  color: #103674;
}
.three .foot .item:nth-child(1) {
  background-color: #2EA5DF;
  transform: translateX(-4rem);
  opacity: .2;
}
.three .foot .item:nth-child(2) {
  background-color: #005BAC;
  transform: translateY(4rem);
  opacity: .2;
}
.three .foot .item:nth-child(3) {
  background-color: #036EB6;
  transform: translateX(4rem);
  opacity: .2;
}
/* 添加动画效果 */
.three.active .bg .title,
.three.active .foot .item:nth-child(1),
.three.active .foot .item:nth-child(2),
.three.active .foot .item:nth-child(3) {
  opacity: 1;
  transition: all 1.5s;
  transform: none;
}
/* 第三屏结束 */
/* 第四屏开始 */
.four {}
.four .title {
  width: 2.31rem;
}
.four .bottom {
  width: 70%;
}
.four .left {
  transform: translateX(-3rem);
  opacity: .2;
}
.four .right {
  transform: translateX(3rem);
  opacity: .2;
}
.four .right .img-box,
.four .left .img-box {
  width: 4.89rem;
  height: 3.96rem;
}
.four .left .img-box {
  background: url("../images/four_sreen/left.png") center no-repeat;
  background-size: contain;
}
.four .left .text,
.four .right .text {
  text-align: center;
}
.four .text {
  padding: .5rem;
}
.four .right .img-box {
  background: url("../images/four_sreen/right.png") center no-repeat;
  background-size: contain;
}
/* 动画 */
.four.active .left,
.four.active .right {
  transform: none;
  opacity: 1;
  transition: all 1.5s;
}
/* 第四屏结束 */
/* 第五屏开始 */
.five .title {
  width: 3.21rem;
}
.news-banner {
  margin: .5rem 0;
  height: 5rem;
  width: 75%;
  padding: 0 80px;
  position: relative;
}
.news-banner .slide {
  border: 1px solid red;
}

.swiper-slide {
  color: red;
  height: 200px;
  background-color: green;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  color: #fff;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
